body {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #8e8d8a;
}

body {
  background-color: #eae7dc;
}

.main-container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0;
}

.main-container h1 {
  margin: 50px 0;
  font-size: 3rem;
}

@media only screen and (max-width: 600px) {
  .main-container h1 {
    font-size: 3rem;
  }
}

.button {
  margin: 0 0 0 10px;
}

.clearButton {
  border: none;
  background-color: #e98074;
  color: white;
  padding: 20px;
  border-radius: 20px;
}

.clearButton:hover {
  background-color: #e85a4f;
  cursor: pointer;
}

.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list .list-card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: white;
  margin: 10px 5px 10px 0;
  background-color: #e85a4f;
  box-shadow: 1px 1px 5px #b3b3b3;
  border-radius: 20px;
  width: 200px;
  min-width: 100px;
}

.list .list-card h2 {
  color: white;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .list .list-card {
    padding: 10px;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .list .list-card__content {
    font-size: 10px;
  }
  .list .list-card__content h2 {
    font-size: 18px;
  }
}

.list .list-card-fav {
  padding: 20px;
  color: white;
  margin: 10px 5px 10px 0;
  background-color: #e85a4f;
  box-shadow: 1px 1px 5px #b3b3b3;
  border-radius: 20px;
}

.list .list-card-fav h2 {
  color: white;
}

@media only screen and (max-width: 600px) {
  .list .list-card-fav {
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .list .list-card-fav__content {
    font-size: 10px;
  }
}

.list .fa-check-circle:hover,
.list .fa-circle:hover {
  opacity: 50%;
  cursor: default;
  cursor: copy;
}

nav a {
  padding: 20px;
  background-color: #d6d6d6;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

nav .active {
  background-color: #e85a4f;
  color: white !important;
}

nav a:hover {
  background-color: #e85a4f;
  color: white !important;
}

nav a:link,
nav a:hover,
nav a:visited,
nav a:active {
  color: #8e8d8a;
}

.search-container {
  width: 100%;
}

.search {
  border: none;
  background-color: #ececec;
  padding: 20px;
  width: 25%;
  font-size: large;
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  .search {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
  }
}
