// color variables

$color-primary: #e85a4f;
$color-primary-light: #e98074;
$color-secondary: #8e8d8a;

// specific elements

$color-background: #eae7dc;
$color-title: $color-secondary;
$color-navigation-button: $color-primary-light;
$color-navigation-text: $color-secondary;
