body {
    background-color: $color-background;
}

.main-container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0;

    h1 {
        margin: 50px 0;
        font-size: 3rem;
    }

    @media only screen and (max-width: 600px) {
        h1 {
            font-size: 3rem;
        }
    }
}
