nav {
    a {
        padding: 20px;
        background-color: rgb(214, 214, 214);
        border-radius: 20px;
        text-decoration: none;
        text-transform: uppercase;
    }

    .active {
        background-color: $color-primary;
        color: white !important;
    }

    a:hover {
        background-color: $color-primary;
        color: white !important;
    }

    a:link,
    a:hover,
    a:visited,
    a:active {
        color: $color-navigation-text;
    }
}
